{% extends 'base.html' %}
{% load static %}

{% block title %}O mnie{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/about-me.css' %}">{% endblock %}


{% block content %}
<section id="about-me">
    <div class="content">
        <h1>Nazywam się&nbsp;Anna Seferyniak i&nbsp;jestem adwokatem.</h1>
        <h2>To oznacza, że:</h2>
        <ul>
            <li>ukończyłam studia prawnicze na&nbsp;Wydziale Prawa i&nbsp;Administracji Uniwersytetu Łódzkiego</li>
            <li>odbyłam aplikację adwokacką przy&nbsp;Okręgowej Radzie Adwokackiej w&nbsp;Łodzi</li>
            <li>uzyskałam pozytywny wynik z&nbsp;egzaminu zawodowego</li>
            <li>zostałam wpisana na&nbsp;listę adwokatów Okręgowej Rady&nbsp;Adwokackiej w&nbsp;Łodzi</li>
        </ul>

        <h2>Moje&nbsp;doświadczenie praktyczne:</h2>

        <ul>
            <li>pracowałam w&nbsp;kancelariach adwokackich i&nbsp;radcowskich już&nbsp;od&nbsp;III&nbsp;roku&nbsp;studiów</li>
            <li>udzielałam porad prawnych jako&nbsp;wolontariusz w&nbsp;Klinice Prawa&nbsp;WPiA&nbsp;UŁ w&nbsp;okresie studiów</li>
            <li>odbyłam praktyki w&nbsp;Prokuratorii Generalnej Rzeczypospolitej Polskiej</li>
            <li>pomagam pro&nbsp;bono&nbsp;na&nbsp;rzecz Stowarzyszenia OTOZ&nbsp;Animals</li>
            <li>od&nbsp;momentu uzyskania wpisu na&nbsp;listę adwokatów prowadzę własną kancelarię adwokacką</li>
        </ul>

        <h2>Co&nbsp;to&nbsp;oznacza?</h2>

        <ul>
            <li>już&nbsp;w&nbsp;okresie aplikacji wielokrotnie występowałam przed sądami wszystkich instancji w&nbsp;charakterze profesjonalnego pełnomocnika</li>
            <li>wielokrotnie uczestniczyłam w&nbsp;czynnościach przed organami postępowania przygotowawczego</li>
            <li>brałam udział w&nbsp;mediacjach i&nbsp;negocjacjach</li>
            <li>przeprowadziłam niezliczoną ilość analiz powierzonych mi&nbsp;spraw i&nbsp;dokumentów oraz&nbsp;analogiczną ilość pism&nbsp;procesowych i&nbsp;opinii prawnych</li>
        </ul>


        <p>Samodzielna praca i&nbsp;nieustanny rozwój pozwoliły mi&nbsp;bez&nbsp;obaw podjąć się&nbsp;prowadzenia własnej Kancelarii. Zapraszam do&nbsp;współpracy.</p>
    </div>
    <img src="{% static 'my_site/images/about_me_img.jpg' %}" alt="o mnie">
</section>
{% endblock %}