{% extends 'base.html' %}
{% load static %}

{% block title %}O mnie{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/about-me.css' %}">{% endblock %}


{% block content %}
<section id="about-me">
    <div class="content">
        <h1>Nazywam się Anna Seferyniak i jestem adwokatem.</h1>
        <h2>To oznacza, że:</h2>
        <ul>
            <li>ukończyłam studia prawnicze na Wydziale Prawa i&nbsp;Administracji Uniwersytetu Łódzkiego</li>
            <li>odbyłam aplikację adwokacką przy Okręgowej Radzie Adwokackiej w&nbsp;Łodzi</li>
            <li>uzyskałam pozytywny wynik z&nbsp;egzaminu zawodowego</li>
            <li>zostałam wpisana na listę adwokatów Okręgowej Rady Adwokackiej w&nbsp;Łodzi</li>
        </ul>

        <h2>Moje doświadczenie praktyczne:</h2>

        <ul>
            <li>pracowałam w&nbsp;kancelariach adwokackich i&nbsp;radcowskich już od III roku studiów</li>
            <li>udzielałam porad prawnych jako wolontariusz w&nbsp;Klinice Prawa&nbsp;WPiA&nbsp;UŁ w&nbsp;okresie studiów</li>
            <li>odbyłam praktyki w&nbsp;Prokuratorii Generalnej Rzeczypospolitej Polskiej</li>
            <li>pomagam pro bono na rzecz Stowarzyszenia OTOZ Animals</li>
            <li>od momentu uzyskania wpisu na listę adwokatów prowadzę własną kancelarię adwokacką</li>
        </ul>

        <h2>Co to oznacza?</h2>

        <ul>
            <li>już w&nbsp;okresie aplikacji wielokrotnie występowałam przed sądami wszystkich instancji w&nbsp;charakterze profesjonalnego pełnomocnika</li>
            <li>wielokrotnie uczestniczyłam w&nbsp;czynnościach przed organami postępowania przygotowawczego</li>
            <li>brałam udział w mediacjach i&nbsp;negocjacjach</li>
            <li>przeprowadziłam niezliczoną ilość analiz powierzonych mi spraw i&nbsp;dokumentów oraz analogiczną ilość pism procesowych i&nbsp;opinii prawnych</li>
        </ul>


        <p>Samodzielna praca i nieustanny rozwój pozwoliły mi bez obaw podjąć się prowadzenia własnej Kancelarii. Zapraszam do współpracy.</p>
    </div>
    <img src="{% static 'my_site/images/about_me_img.jpg' %}" alt="o mnie">
</section>
{% endblock %}