{% extends 'base.html' %}
{% load static %}

{% block title %}Kontakt{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/contact.css' %}">{% endblock %}


{% block content %}
    <h1>Kontakt</h1>
    <section id="contacts">
        <ul>
            <li>
                <p>Adres email:</p>
                <p>Email: lawoffice@lawer.com</p>
            </li>
            <li>
                <p>Telefon: </p>
                <p>570 665 936</p>
            </li>
            <li>
                <p>Adres:</p>
                <p>ul Widok 8/5p</p>
                <p>00-127 Warszawa</p>
                 </li>
        </ul>
    </section>
    <h2>Skontaktuj się ze mną za pomocą formularza:</h2>
    <section id="contact-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="checkbox" id="agrrement" required>
            <label for="agrrement">
                Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z przepisami o ochronie danych
                osobowych i w Polityce prywatności. Mam świadomość, że podanie moich danych osobowych jest dobrowolne,
                ale niezbędne do przetworzenia zapytania wysłanego za pomocą powyższego formularza kontaktowego.
                Zostałam/-em poinformowana/-y o przysługujących mi prawach dostępu do moich danych osobowych, możliwości
                ich poprawienia, a także żądania zaprzestania ich przetwarzania.
            </label>
            <button type="submit">WYŚLIJ WIADOMOŚĆ</button>
        </form>
    </section>

{% endblock %}

