{% extends 'base.html' %}
{% load static %}

{% block title %}Kancelaria Adwokacka Anna Seferyniak{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/home.css' %}">{% endblock %}

{% block content %}

<section id="about-me">
    <div>
        <a href="{% url 'about-me' %}">
        </a>
        <p>
            „Bycie adwokatem to&nbsp;nie&nbsp;tylko wdrażanie paragrafów w&nbsp;życie i&nbsp;walka na&nbsp;sali&nbsp;sądowej. Świadcząc usługi prawne staram się,&nbsp;
            by&nbsp;w&nbsp;pierwszej kolejności Klient zrozumiał sytuację w&nbsp;jakiej się&nbsp;znalazł.
            Dlaczego? Ponieważ jeżeli nie&nbsp;wiemy co&nbsp;się&nbsp;dzieje, nie&nbsp;czujemy się&nbsp;bezpiecznie, a&nbsp;szanse na&nbsp;podjęcie korzystnych decyzji maleją.
            Dlatego w&nbsp;ramach współpracy staram się&nbsp;cierpliwie i&nbsp;prosto wyjaśnić problem prawny, z&nbsp;jakim Klient się&nbsp;boryka.
            W&nbsp;prawie niewiele jest&nbsp;sytuacji bez&nbsp;wyjścia, ale&nbsp;by&nbsp;to&nbsp;wyjście znaleźć,
            najpierw musimy wiedzieć jakie jest&nbsp;nasze położenie i&nbsp;jak&nbsp;do&nbsp;tego&nbsp;doszło.
            Wtedy znajdziemy rozwiązanie pozwalające poczuć si&nbsp;bezpiecznie.”
        </p>
        <a href="{% url 'about-me' %}">
            <img src="{% static 'my_site/images/podpis-szary.jpg' %}" alt="Adwokat Anna Seferyniak">
        </a>
    </div>
    <img id="img-me" src="{% static 'my_site/images/home_img.jpg' %}" alt="o mnie">
</section>

<section id="specializations">
    <a href="{% url 'specialization' %}">
        <h2>SPECJALIZACJE</h2>
    </a>
    <ul>
        {% for specialization in specializations %}
            <li>
                <article class="specialization">
                    <a href="{% url 'specialization-detail' specialization.slug %}">
                        <div class="specialization__content">
                            <h3>{{ specialization.name }}</h3>
                        </div>
                        {% if specialization.image %}
                            <img src="{{ specialization.image.url }}" alt="{{ specialization.name }}">
                        {% endif %}
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</section>


<section id="last-posts">
    <a href="{% url 'blog' %}">
        <h2>OSTATNIO DODANE POSTY</h2>
    </a>
    <ul>
        {% for post in posts %}
            <li>
                <article class="post">
                    <a href="{% url 'post-detail' post.slug %}">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        {% endif %}
                        <div class="post__content">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.date|date:"d.m.Y" }}</p>
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </a>
                </article>
            </li>
        {% endfor %}
    </ul>
</section>

<section id="shop">
    <a href="{% url 'shop' %}">
        <h2>SKLEP</h2>
    </a>
    <ul>
        <li>
            <article class="detail">
                {% for contract in contract %}
                    <a href="{% url 'contracts' %}">
                        {% if contract.image %}
                            <img src="{{ contract.image.url }}" alt="{{ contract.type }}">
                        {% endif %}
                         <div class="detail__content">
                            <h3>{{ contract.type }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </article>
        </li>
        <li>
            <article class="detail">
                {% for writing in writing %}
                    <a href="{% url 'writings' %}">
                        {% if writing.image %}
                            <img src="{{ writing.image.url }}" alt="{{ writing.type }}">
                        {% endif %}
                        <div class="detail__content">
                            <h3>{{ writing.type }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </article>
        </li>
        <li>
            <article class="detail">
                {% for lawsuit in lawsuit %}
                    <a href="{% url 'lawsuits' %}">
                        {% if lawsuit.image %}
                            <img src="{{ lawsuit.image.url }}" alt="{{ lawsuit.type }}">
                        {% endif %}
                        <div class="detail__content">
                            <h3>{{ lawsuit.type }}</h3>
                        </div>
                    </a>
                {% endfor %}
            </article>
        </li>
    </ul>
</section>

{% endblock %}