{% extends 'base.html' %}
{% load static %}

{% block title %}Klauzula informacyjna{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/statutes.css' %}">{% endblock %}

{% block content %}
<section id="statutes">
    <div id="all">
        <div id="content">
            <h4>Niniejsza Polityka prywatności określa zasady przetwarzania danych osobowych oraz informuje o&nbsp;wykorzystywaniu
                plików cookies pozyskanych pod&nbsp;adresem: www.kancelaria-seferyniak.pl</h4>
            <ol type="I">
                <h2><li>Słownik</li></h2>
                <h3>Pojęciom użytym w niniejszej Polityce prywatności przypisuje się następujące znaczenie:</h3>
                <ol>
                    <li><p>Serwis – strona internetowa dostępna pod&nbsp;adresem www.kancelaria.seferyniak.pl</p></li>
                    <li><p>Kancelaria – Kancelaria Adwokacka Adwokat Anna Seferyniak z&nbsp;siedzibą w&nbsp;Łodzi przy&nbsp;
                        ul.&nbsp;Zelwerowicza&nbsp;3/1&nbsp;90-147&nbsp;Łódź, NIP:&nbsp;8361876858 będąca właścicielem Serwisu, dane&nbsp;kontaktowe:
                        kancelaria.seferyniak@gmail.com, telefon: +48 570 665 936</p></li>
                    <li><p>Użytkownik – każda osoba fizyczna lub&nbsp;prawna odwiedzająca Serwis lub&nbsp;korzystająca z&nbsp;jednej
                        albo&nbsp;kilku usług lub&nbsp;funkcjonalności opisanych w&nbsp;niniejszej Polityce prywatności lub&nbsp;Regulaminie
                        sklepu</p></li>
                    <li><p>Administrator – administrator danych osobowych przekazywanych przez Użytkowników, którym jest&nbsp;
                        Kancelaria. Kontakt z&nbsp;Administratorem możliwy jest&nbsp;pod&nbsp;numerem telefonu wskazanym dla&nbsp;Kancelarii
                        lub&nbsp;pisemnie pod&nbsp;adresem kontaktowym ul.&nbsp;Widok&nbsp;8/5p&nbsp;00-023&nbsp;Warszawa</p></li>
                    <li><p>Sklep – sklep internetowy Serwisu</p></li>
                    <li><p>Formularz kontaktowy – formularz dostępny w&nbsp;ramach Serwisu, za&nbsp;pośrednictwem którego Użytkownicy
                        mogą&nbsp;skontaktować się&nbsp;z&nbsp;jego&nbsp;właścicielem</p></li>
                    <li><p>„Pliki cookies” – dane informatyczne (tzw. ciasteczka), w szczególności pliki tekstowe, które
                        są&nbsp;przechowywane na&nbsp;urządzeniu końcowym Użytkownika (np. komputerze, smartfonie, tablecie) oraz&nbsp;
                        które mogą&nbsp;być&nbsp;odczytywane przez system teleinformatyczny Administratora</p></li>
                </ol>
                <h2><li>Informacje ogólne</li></h2>
                    <ol>
                        <li><p>Serwis umożliwia Użytkownikom skontaktowanie się&nbsp;z&nbsp;Kancelarią za&nbsp;pośrednictwem Formularza
                            Kontaktowego, korzystanie z&nbsp;systemu komentarzy, jak&nbsp;również złożenie zamówienia za&nbsp;pośrednictwem
                            Sklepu internetowego.</p></li>
                        <li><p>Właściciel Serwisu poprzez treści w&nbsp;nim&nbsp;zamieszczane dzieli się&nbsp;swoją wiedzą i&nbsp;doświadczeniem
                            zawodowym oraz&nbsp;oferuje do&nbsp;zakupu produkty&nbsp;w&nbsp;Sklepie.</p></li>
                        <li><p>Treści umieszczane w&nbsp;Serwisie nie&nbsp;stanowią porad prawnych ani&nbsp;wiążącej wykładni prawa.
                            Cel&nbsp;publikowanych treści ma&nbsp;jedynie charakter edukacyjny, zawiera treści o&nbsp;charakterze ogólnym
                            i&nbsp;nie tworzy stosunku klient-prawnik. Autorzy publikacji nie&nbsp;odpowiadają za&nbsp;ich&nbsp;treści w&nbsp;
                            jakimkolwiek zakresie, w&nbsp;szczególności nie&nbsp;ponoszą odpowiedzialności za&nbsp;szkodę wyrządzoną
                            ich&nbsp;zastosowaniem lub&nbsp;brakiem zastosowania się&nbsp;do&nbsp;nich.</p></li>
                        <li><p>Publikacje umieszczane w&nbsp;Serwisie są&nbsp;zgodne ze&nbsp;stanem prawnym aktualnym na&nbsp;dzień ich&nbsp;
                            opublikowania. Z uwagi na&nbsp;zmiany przepisów prawnych, treść niektórych publikacji może nie&nbsp;
                            zostać zaktualizowana, a&nbsp;tym&nbsp;samym pozostać niedostosowana do&nbsp;zmian w&nbsp;przepisach prawa.
                            Jeżeli publikacja została zaktualizowana, Właściciel Serwisu umieszcza w&nbsp;niej&nbsp;wzmiankę na&nbsp;ten&nbsp;
                            temat. W&nbsp;przypadku braku wzmianki o&nbsp;aktualizacji przyjmuje się,&nbsp;że&nbsp;publikacja aktualna jest&nbsp;na&nbsp;
                            dzień jej&nbsp;opublikowana w&nbsp;Serwisie.</p></li>
                    </ol>
                <h2><li>Uprawnienia Użytkowników</li></h2>
                    <ol>
                        <li><p>Użytkownik, który wyraził zgodę na&nbsp;przetwarzanie swoich danych osobowych podanych w&nbsp;Serwisie
                            może&nbsp;w&nbsp;dowolnym momencie tę&nbsp;zgodę wycofać. Wycofanie zgody nie&nbsp;wpływa na&nbsp;zgodność z&nbsp;prawem przetwarzania,
                            którego dokonano na&nbsp;podstawie zgody przed&nbsp;jej&nbsp;wycofaniem.</p></li>
                        <li><p>Każdemu Użytkownikowi przysługują następujące prawa:
                            <ul>
                                <li><p>prawo dostępu do&nbsp;swoich danych, zgodnie z&nbsp;art.&nbsp;15&nbsp;RODO;</p></li>
                                <li><p>prawo sprostowania swoich danych, zgodnie z&nbsp;art.&nbsp;16&nbsp;RODO;</p></li>
                                <li><p>prawo usunięcia swoich danych („prawo do&nbsp;bycia zapomnianym”), zgodnie z&nbsp;art.&nbsp;17&nbsp;RODO;</p></li>
                                <li><p>prawo ograniczenia przetwarzania swoich danych, zgodnie&nbsp;z&nbsp;art.&nbsp;18&nbsp;RODO;</p></li>
                                <li><p>prawo przeniesienia swoich danych, zgodnie&nbsp;z&nbsp;art.&nbsp;20&nbsp;RODO.</p></li>
                            </ul>
                        </p></li>
                        <li><p>W&nbsp;celu skorzystania z&nbsp;ww.&nbsp;praw,&nbsp;należy skontaktować się&nbsp;z&nbsp;Administratorem pod&nbsp;adresem
                            fizycznym w Warszawie przy&nbsp;ul.&nbsp;Widok&nbsp;8/5p&nbsp;00-023&nbsp;Warszawa lub&nbsp;adresem e-mail: kancelaria.seferyniak@gmail.com.
                            Użytkownik może również wysłać do&nbsp;Administratora stosowne żądanie za&nbsp;pośrednictwem Formularza kontaktowego.</p></li>
                        <li><p>Ponadto, każdy Użytkownik ma&nbsp;prawo wniesienia sprzeciwu wobec przetwarzania danych osobowych,
                            żądania przeniesienia danych osobowych, jak&nbsp;również wniesienia skargi do&nbsp;organu nadzorczego w związku
                            z&nbsp;przetwarzaniem oraz&nbsp;gromadzeniem danych osobowych przez&nbsp;Administratora, jeżeli uważa, że&nbsp;przetwarzanie
                            jego&nbsp;danych osobowych narusza przepisy RODO.</p></li>
                    </ol>
                <h2><li>Formularz kontaktowy</li></h2>
                    <ol>
                        <li><p>Serwis umożliwia Użytkownikom skontaktowanie się&nbsp;z&nbsp;Kancelarią za&nbsp;pośrednictwem Formularza kontaktowego.</p></li>
                        <li><p>Skontaktowanie się&nbsp;przez&nbsp;Użytkownika z&nbsp;Kancelarią za&nbsp;pośrednictwem Formularza kontaktowego
                            wymaga podania przez Użytkownika następujących danych osobowych: imienia i&nbsp;nazwiska oraz&nbsp;
                            adresu e-mail. Użytkownik może&nbsp;(choć nie musi) wskazać także swój&nbsp;numer telefonu oraz&nbsp;temat wiadomości.</p></li>
                        <li><p>W&nbsp;szczegółowej części Formularza kontaktowego Użytkownik formułuje treść wiadomości, którą
                            chce&nbsp;wysłać do&nbsp;Kancelarii.</p></li>
                        <li><p>Jeżeli użytkownik za&nbsp;pośrednictwem Formularza kontaktowego chce&nbsp;uzyskać od&nbsp;Kancelarii poradę
                            prawną lub&nbsp;informację o&nbsp;jej&nbsp;wycenie, powinien podać istotne informacje dotyczące sprawy.</p></li>
                        <li><p>Wypełnienie i&nbsp;przesłanie do&nbsp;Kancelarii Formularza kontaktowego, podobnie jak&nbsp;wiadomości e-mail
                            za&nbsp;pośrednictwem swojej skrzynki pocztowej, jest&nbsp;dobrowolne i&nbsp;niezobowiązujące, w&nbsp;szczególności
                            sam&nbsp;fakt&nbsp;wypełnienia i&nbsp;przesłania Formularza kontaktowego oraz&nbsp;zapytania o&nbsp;poradę prawną czy wycenę
                            nie&nbsp;rodzi po&nbsp;stronie Użytkownika ani&nbsp;Kancelarii żadnych zobowiązań.</p></li>
                        <li><p>Dane&nbsp;osobowe Użytkowników są&nbsp;przetwarzane na&nbsp;podstawie art.&nbsp;6&nbsp;ust.1&nbsp;lit.&nbsp;a&nbsp;RODO, tj.&nbsp;w&nbsp;związku
                            z&nbsp;udzieleniem przez Użytkownika zgody na&nbsp;takie przetwarzanie.</p></li>
                        <li><p>Administrator nie&nbsp;jest&nbsp;w&nbsp;stanie określić czasu przechowywania zgromadzonych danych ze&nbsp;względu
                            na&nbsp;ich&nbsp;specyfikę. Niemniej jednak, nie&nbsp;będą&nbsp;one&nbsp;przechowywane dłużej niż&nbsp;do&nbsp;usunięcia Serwisu.
                            Dane&nbsp;osobowe Użytkowników będą&nbsp;przetwarzane do&nbsp;czasu ustania&nbsp;celu&nbsp;ich&nbsp;przetwarzania lub&nbsp;do&nbsp;czasu&nbsp;
                            wycofania zgody przez Użytkownika.</p></li>
                    </ol>

                <h2><li>System komentarzy</li></h2>
                    <ol>
                        <li><p>Użytkownicy mogą&nbsp;publikować komentarze w&nbsp;Serwisie pod&nbsp;publikacjami, które zezwalają na&nbsp;
                            publikowanie komentarzy.</p></li>
                        <li><p>Opublikowanie komentarza w&nbsp;Serwisie jest&nbsp;całkowicie dobrowolne, ale&nbsp;jest&nbsp;równoznaczne z&nbsp;
                            wyrażeniem zgody na&nbsp;przetwarzanie danych osobowych, które zostaną podane w&nbsp;formularzu.</p></li>
                        <li><p>Dla&nbsp;celów związanych z&nbsp;publikowaniem komentarzy w&nbsp;Serwisie Użytkownik zostanie poproszony o&nbsp;
                            podanie następujących danych osobowych:
                            <ul>
                                <li><p>imię&nbsp;lub&nbsp;pseudonim&nbsp;– te&nbsp;dane&nbsp;wyświetlane będą&nbsp;wszystkim Użytkownikom Serwisu jako&nbsp;podpis;</p></li>
                                <li><p>adres e-mail&nbsp;– jest&nbsp;potrzebny do&nbsp;dodania komentarza, ale&nbsp;nie&nbsp;zostanie udostępniony
                                    publicznie czytelnikom Serwisu;</p></li>
                            </ul>
                        </p></li>
                        <li><p>W&nbsp;systemie odnotowywany jest&nbsp;adres IP,&nbsp;z&nbsp;wykorzystaniem którego został opublikowany komentarz.
                            Dane&nbsp;te&nbsp;zostają zapisane w&nbsp;bazie systemu oraz&nbsp;są&nbsp;przechowywane przez cały&nbsp;okres funkcjonowania Serwisu.</p></li>
                        <li><p>Wszelkie komentarze naruszające powyższe zasady kultury osobistej i&nbsp;wypowiedzi, SPAM&nbsp;i&nbsp;
                            kryptoreklamy będą niezwłocznie usuwane przez Administratora.</p></li>
                    </ol>
                <h2><li>Zamówienie w sklepie internetowym</li></h2>
                    <ol>
                        <li><p>Kancelaria posiada w&nbsp;swojej ofercie produkty w&nbsp;formie treści cyfrowej (np.&nbsp;e-booki, wzory
                            pism procesowych) które są&nbsp;wskazane w&nbsp;zakładce Sklepu internetowego.</p></li>
                        <li><p>Zasady i&nbsp;sposób korzystania ze&nbsp;Sklepu internetowego określa Regulamin sklepu.</p></li>
                        <li><p>Złożenie zamówienia w&nbsp;Sklepie wymaga podania następujących danych osobowych: imię i&nbsp;nazwisko,
                            adres zamieszkania, numer telefonu, adres e-mail, a&nbsp;w&nbsp;przypadku przedsiębiorcy także firma,
                            adres prowadzonej działalności gospodarczej oraz&nbsp;numer identyfikacji podatkowej (NIP).</p></li>
                        <li><p>Podanie przez Użytkownika ww.&nbsp;danych jest&nbsp;dobrowolne, ale&nbsp;niezbędne w&nbsp;celu&nbsp;złożenia zamówienia.</p></li>
                        <li><p>Dane&nbsp;przekazane podczas składania zamówienia Kancelaria przetwarza na&nbsp;podstawie:
                            <ul>
                                <li>art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;b&nbsp;RODO – w&nbsp;celu wykonania umowy sprzedaży;</li>
                                <li>art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;c&nbsp;RODO – gdy&nbsp;będzie to&nbsp;niezbędne do&nbsp;wypełnienia obowiązku prawnego
                                    ciążącego na&nbsp;Administratorze, w&nbsp;szczególności w&nbsp;celu zapewnienia zgodności z&nbsp;obowiązującymi
                                    przepisami księgowymi i&nbsp;podatkowymi;</li>
                                <li>art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;f&nbsp;RODO – w&nbsp;celach wynikających z&nbsp;prawnie uzasadnionych interesów
                                    realizowanych przez Kancelarię, tj.&nbsp;ustalenia i&nbsp;dochodzenia roszczeń, zabezpieczenia
                                    roszczeń, obrony przed roszczeniami związanymi z&nbsp;zawartą umową, tworzenia i&nbsp;prowadzenia
                                    zestawień, analiz i&nbsp;statystyk.</li>
                        </ul>
                        </p></li>
                        <li><p>Dane&nbsp;osobowe Użytkowników będą&nbsp;przetwarzane przez cały&nbsp;okres wykonywania przez Kancelarię
                            obowiązków wynikających z&nbsp;umowy, a&nbsp;także po&nbsp;upływie ww.&nbsp;okresu, do&nbsp;upływu terminu przedawnienia
                            roszczeń. Dane&nbsp;osobowe zawarte w&nbsp;dokumentach księgowych będą&nbsp;przetwarzane do&nbsp;czasu upływu okresu
                            przedawnienia zobowiązania podatkowego.</p></li>
                    </ol>
                <h2><li>Pliki cookies</li></h2>
                    <ol>
                        <li><p>W&nbsp;Serwisie wykorzystuje się&nbsp;mechanizm plików cookies („ciasteczek”).</p></li>
                        <li><p>Pliki cookies są&nbsp;plikami tekstowymi przechowywanymi w&nbsp;elektronicznym urządzeniu końcowym
                            (zwanym dalej „Urządzeniem”) Użytkownika Serwisu i&nbsp;zawierają w&nbsp;szczególności: adres IP&nbsp;przypisany
                            do&nbsp;komputera Użytkownika lub&nbsp;zewnętrzny adres IP&nbsp;dostawcy Internetu, nazwę domeny, rodzaj przeglądarki,
                            czas dostępu, typ&nbsp;systemu operacyjnego.</p></li>
                        <li><p>Stosowane przez Administratora Pliki cookies są&nbsp;bezpieczne dla&nbsp;Urządzenia Użytkownika. Pliki te&nbsp;
                            pozwalają dostosować Serwis indywidualnie do&nbsp;wymagań Użytkownika. W&nbsp;szczególności tą&nbsp;drogą nie&nbsp;jest&nbsp;
                            możliwe przedostanie się&nbsp;do&nbsp;Urządzeń Użytkowników wirusów lub&nbsp;innego niewłaściwego oprogramowania.</p></li>
                        <li><p>Administrator wykorzystuje pliki cookies w&nbsp;celach:
                            <ul>
                                <li><p>usprawnienia i&nbsp;ułatwienia dostępu do&nbsp;Serwisu;</p></li>
                                <li><p>dostosowania zawartości strony do&nbsp;preferencji Użytkownika;</p></li>
                                <li><p>statystycznych, tj.&nbsp;zabieranie i&nbsp;przetwarzanie danych statystycznych dotyczących
                                    Serwisu, w&nbsp;szczególności statystyki odwiedzin, statystyki Urządzeń Użytkowników i&nbsp;
                                    statystyki zachowań Użytkowników. Dane&nbsp;te&nbsp;są&nbsp;zbierane w&nbsp;celu&nbsp;analizy i&nbsp;ulepszenia funkcjonowania Serwisu;</p></li>
                                <li><p>marketingowych</p></li>
                            </ul>
                        </p></li>
                        <li><p>Każdy Użytkownik ma&nbsp;możliwość konfiguracji swojej przeglądarki internetowej w&nbsp;taki sposób,
                            który ogranicza lub&nbsp;uniemożliwia przechowywanie Plików cookies na&nbsp;Urządzeniu (np.&nbsp;komputerze,
                            smartfonie, tablecie). Korzystanie z&nbsp;Serwisu będzie nadal możliwe, pomimo wyłączenia Plików cookies,
                            z&nbsp;wyłączeniem funkcji, które dla&nbsp;swojego działania wymagają Plików cookies.</p></li>
                        <li><p>Użytkownik może&nbsp;także w&nbsp;każdej chwili usunąć Pliki cookies korzystając z&nbsp;funkcji dostępnych w&nbsp;
                            przeglądarce internetowej, której używa.</p></li>
                        <li><p>Administrator wykorzystuje następujące typy plików Cookies:
                            <ul>
                                <li><p>Pliki cookies wewnętrzne – pliki zamieszczane i&nbsp;odczytywane z&nbsp;Urządzenia Użytkownika
                                    przez system teleinformatyczny Serwisu;</p></li>
                                <li><p>Pliki cookies zewnętrzne – pliki zamieszczane i&nbsp;odczytywane z&nbsp;Urządzenia Użytkownika
                                    przez systemy teleinformatyczne serwisów internetowych partnerów, usługodawców lub&nbsp;
                                    usługobiorców Administratora (zwanych dalej: „Serwisami zewnętrznymi”), takie jak&nbsp;Facebook i&nbsp;Instagram;</p></li>
                                <li><p>Pliki cookies sesyjne – pliki zamieszczane i&nbsp;odczytywane z&nbsp;Urządzenia Użytkownika przez
                                    Serwis lub&nbsp;Serwisy zewnętrzne podczas jednej sesji danego Urządzenia. Po&nbsp;zakończeniu sesji
                                    pliki są&nbsp;usuwane z&nbsp;Urządzenia Użytkownika;</p></li>
                                <li><p>Pliki cookies trwałe – pliki zamieszczane i&nbsp;odczytywane z&nbsp;Urządzenia Użytkownika przez
                                    Serwis lub&nbsp;Serwisy zewnętrzne do&nbsp;momentu ich&nbsp;ręcznego usunięcia. Pliki nie&nbsp;są&nbsp;usuwane
                                    automatycznie po&nbsp;zakończeniu sesji Urządzenia chyba&nbsp;że&nbsp;konfiguracja Urządzenia Użytkownika
                                    jest&nbsp;ustawiona na&nbsp;tryb usuwanie plików Cookies po&nbsp;zakończeniu sesji Urządzenia.</p></li>
                        </ul>
                        </p></li>
                        <li><p>Administrator nie&nbsp;ponosi odpowiedzialności za&nbsp;bezpieczeństwo Plików cookies pochodzących z&nbsp;Serwisów zewnętrznych.</p></li>
                    </ol>
                <h2><li>Zmiany w&nbsp;Polityce prywatności</li></h2>
                    <ol>
                        <li><p>Administrator zastrzega sobie prawo do&nbsp;zmiany niniejszej Polityki Prywatności w&nbsp;każdym czasie.</p></li>
                        <li><p>Zmiany w&nbsp;Polityce prywatności wchodzą w&nbsp;życie od&nbsp;momentu opublikowania ich&nbsp;w&nbsp;Serwisie</p></li>
                        <li><p>Niniejsza Polityka prywatności wchodzi w&nbsp;życie z&nbsp;dniem 23&nbsp;maja&nbsp;2023&nbsp;r. </p></li>
                    </ol>
            </ol>
        </div>
    </div>

</section>
{% endblock %}