{% extends 'base.html' %}
{% load static %}

{% block title %}Polityka prywatności{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'my_site/statutes.css' %}">{% endblock %}

{% block content %}
<section id="statutes">
    <div id="all">
        <div id="content">
            <h2>Klauzula informacyjna RODO</h2>
            <p>Administratorem danych osobowych jest Anna Seferyniak prowadząca działalność gospodarczą pod&nbsp;firmą:
                Kancelaria Adwokacka Adwokat Anna Seferyniak z&nbsp;siedzibą w&nbsp;Łodzi przy&nbsp;ul.&nbsp;Zelwerowicza&nbsp;3/1&nbsp;90-147&nbsp;Łódź&nbsp;,
                NIP:&nbsp;8361876858.</p>
            <p>Kontakt z&nbsp;Administratorem jest&nbsp;możliwy za&nbsp;pomocą poczty elektronicznej na&nbsp;adres: kancelaria.seferyniak@gmail.com,
                telefonicznie pod numerem: +48 570 665 936, za pośrednictwem formularza kontaktowego na&nbsp;stronie: albo listownie
                na adres korespondencyjny: ul. Widok 8/5p, 00-023 Warszawa.</p>
            <h4>Dane osobowe podlegające przetwarzaniu:</h4>
            <ol type="1">
                <li>imię/imiona i nazwisko;</li>
                <li>oznaczenie firmy;</li>
                <li>adres e-mail;</li>
                <li>numer telefonu;</li>
                <li>adres do&nbsp;korespondencji;</li>
                <li>dane przekazane przez Państwa w&nbsp;trakcie realizacji umowy zawieranej z&nbsp;Administratorem w&nbsp;związku ze&nbsp;
                    świadczonymi usługami prawnymi;</li>
                <li>dane uzyskane od&nbsp;innych osób w&nbsp;trakcie realizacji umowy (np.&nbsp;strony przeciwnej, sądu, komornika).</li>
            </ol>
            <p>Podanie danych osobowych jest&nbsp;dobrowolne. Ich&nbsp;podanie jest&nbsp;jednak niezbędne dla realizacji obowiązków
                Administratora w&nbsp;zakresie świadczonych usług prawnych. Dane osobowe przetwarzane są&nbsp;zgodnie
            z&nbsp;zasadami wskazanymi w&nbsp;art.&nbsp;5&nbsp;RODO oraz&nbsp;art.&nbsp;6 ustawy&nbsp;z&nbsp;dnia&nbsp;26&nbsp;maja&nbsp;1982&nbsp;r.&nbsp;– Prawo o&nbsp;adwokaturze.
                Cel przetwarzania:</p>
            <ol type="1">
                <li>wywiązania się&nbsp;Administratora z&nbsp;obowiązków wynikających z&nbsp;umowy o&nbsp;świadczenie pomocy prawnej,
                    zgodnie z&nbsp;art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;a&nbsp;RODO;</li>
                <li>wypełnienia obowiązków Administratora w&nbsp;interesie osoby, której dane&nbsp;dotyczą przed zawarciem umowy,
                    zgodnie z&nbsp;art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;b&nbsp;RODO;</li>
                <li>wywiązania się&nbsp;z&nbsp;obowiązku prawnego ciążącego na&nbsp;Administratorze, zgodnie z&nbsp;art.&nbsp;6&nbsp;ust.&nbsp;1&nbsp;lit.&nbsp;c&nbsp;RODO.</li>
            </ol>
            <h4>Dane osobowe mogą&nbsp;być&nbsp;udostępniane następującym podmiotom:</h4>
            <ol type="1">
                <li>podmiotom zajmujących się&nbsp;w&nbsp;ramach prowadzonej działalności gospodarczej Administratora obsługą
                    księgową i&nbsp;rachunkową;</li>
                <li>podmiotów zajmujących się&nbsp;w&nbsp;ramach prowadzonej działalności gospodarczej Administratora obsługą
                    systemów informatycznych;</li>
                <li>sądom powszechnym, sądom administracyjnym, organom administracyjnym;</li>
                <li>podmiotom współpracującym z&nbsp;Administratorem na&nbsp;potrzeby realizacji usług pomocy prawnej lub&nbsp;celem
                    wykonania obowiązków wynikających z&nbsp;przepisów prawa.</li>
            </ol>
            <p>Administrator nie&nbsp;przewiduje przekazywania udostępnionych mu&nbsp;danych osobowych państwom trzecim ani&nbsp;
                organizacjom międzynarodowym.</p>

            <h4>Dane osobowe będą przetwarzane do&nbsp;czasu:</h4>
            <ol type="1">
                <li>ustania celu&nbsp;ich&nbsp;przetwarzania w&nbsp;związku z&nbsp;zawartą umową o&nbsp;świadczenie pomocy prawnej</li>
                <li>do czasu wycofania zgody na&nbsp;ich&nbsp;przetwarzanie, nie&nbsp;dłużej jednak niż&nbsp;do&nbsp;przedawnienia dochodzenia
                    roszczenia lub&nbsp;zatarcia skazania.</li>
            </ol>
            <h4>Osobie, której dane osobowe dotyczą, przysługują następujące prawa:</h4>
            <ol type="1">
                <li>prawo dostępu do&nbsp;jej&nbsp;danych, zgodnie z&nbsp;art.&nbsp;24 ust.&nbsp;1&nbsp;pkt&nbsp;3&nbsp;UODO&nbsp;oraz&nbsp;art.&nbsp;15&nbsp;RODO;</li>
                <li>prawo sprostowania jej&nbsp;danych, zgodnie z&nbsp;art.&nbsp;24 ust.&nbsp;1&nbsp;pkt&nbsp;3&nbsp;UODO&nbsp;oraz&nbsp;art.&nbsp;16&nbsp;RODO;</li>
                <li>prawo usunięcia jej&nbsp;danych („prawo do bycia zapomnianym”), zgodnie z&nbsp;art.&nbsp;17&nbsp;RODO;</li>
                <li>prawo ograniczenia jej&nbsp;danych, zgodnie&nbsp;z&nbsp;art.&nbsp;18&nbsp;RODO;</li>
                <li>prawo przeniesienia jej&nbsp;danych, zgodnie&nbsp;z&nbsp;art.&nbsp;20&nbsp;RODO;</li>
                <li>prawo sprzeciwu wobec przetwarzania danych, zgodnie z&nbsp;art.&nbsp;21&nbsp;RODO.</li>
            </ol>
            <p>W&nbsp;celu skorzystania z&nbsp;ww.&nbsp;praw&nbsp;należy skontaktować się&nbsp;z&nbsp;Administratorem. Dane&nbsp;do&nbsp;kontaktu wskazano powyżej. </p>
            <p>Udostępniający dane osobowe ma&nbsp;prawo wniesienia skargi do&nbsp;Prezesa Urzędu Ochrony Danych Osobowych gdy&nbsp;
                uważa, że&nbsp;przetwarzanie jego&nbsp;danych osobowych narusza RODO. </p>
        </div>
    </div>
</section>

{% endblock %}
