{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css_files %}<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}
</head>
<body>
<header id="main-navigation">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="Kancelaria Adwokacka Anna Seferyniak">
    </a>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle">&#9776;</label>
    <nav>
        <button><a href="{% url 'home' %}">STRONA GŁÓWNA</a></button>
        <button><a href="{% url 'about-me' %}">O MNIE</a></button>
        <button><a href="{% url 'specialization' %}">SPECJALIZACJE</a></button>
        <button><a href="{% url 'blog' %}">BLOG</a></button>
        <button><a href="{% url 'shop' %}">SKLEP</a></button>
        <button><a href="{% url 'faq' %}">FAQ</a></button>
        <button><a href="{% url 'contact' %}">KONTAKT</a></button>
    </nav>
</header>
{% block content %}{% endblock %}

<footer>
    <div id="contact">
        <h3>Kontakt</h3>
        <p>ul Widok 8/5p</p>
        <p>00-127 Warszawa</p>
        <p>570 665 936</p>
        <p>mail</p>
    </div>
    <div id="links">
        <h3>Szybkie linki</h3>
        <p><a href="{% url 'home' %}">Strona głóna</a><br></p>
        <p><a href="{% url 'about-me' %}">O mnie</a><br></p>
        <p><a href="{% url 'specialization' %}">Specjalizacje</a><br></p>
        <p><a href="{% url 'blog' %}">Blog</a><br></p>
        <p><a href="{% url 'shop' %}">Sklep</a><br></p>
        <p><a href="{% url 'faq' %}">FAQ</a><br></p>
        <p><a href="{% url 'contact' %}">Kontakt</a></p>
      </div>
</footer>
</body>
</html>