{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.name }}{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'shop/item-detail.css' %}">{% endblock %}


{% block content %}
    <section id="banner">
        <div id="cart">
            <button><a href="{% url 'cart' %}">KOSZYK</a></button>
        </div>
    </section>
    <section id="item">
        <h1>{{ item.name }}</h1>
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% endif %}

        <div class="description">
            <pre><code>{{ item.description }}</code></pre>
        </div>

        <div id="price">
            <p><b>{{ item.price }} zł</b></p>
        </div>

        <form method="POST" action="{% url 'add-to-cart' item.slug %}">
            {% csrf_token %}
            <input type="submit" value="Dodaj do koszyka">
        </form>

    </section>
{% endblock %}