{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}


{% block content %}
<h1>{{ item.name }}</h1>
<section>
    <div class="container">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% endif %}

        <p><b>{{ item.description }}</b></p>
        <p><b>{{ item.price }} zł</b></p>
        <form method="POST" action="{% url 'add-to-cart' item.slug %}">
            {% csrf_token %}
            <input type="submit" value="Dodaj do koszyka">
        </form>
        <a href="{% url 'add-to-cart' item.slug %}">Koszyk</a>
    </div>
</section>
{% endblock %}