{% extends 'base.html' %}

{% block title %}Blog{% endblock %}


{% block content %}
    <h1>Blog</h1>
    <section id="main-page">
        <h2>Moje posty</h2>
        <div>
            <ul>
                {% for post in posts %}
                    <li>
                        <article class="post">
                            <a href="{% url 'post-detail' post.slug %}">
                                {% if post.image %}
                                    <img src="" alt="">
                                {% endif %}
                                <div class="post__content">
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.excerpt }}</p>
                                </div>
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}