{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block css_files %}<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">{% endblock %}



{% block content %}
    <section id="summary">
        <h1>{{ post.title}}</h1>

        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <div id="head">
            {% for tag in post_tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}<br>
        </div>
        <div id="post">
            <div class="content">
                <pre><code>{{ post.content|safe }}</code></pre>
            </div>
            <p>Ostatnio modyfikowany: {{ post.date|date:"d.m.Y" }}</p>
        </div>
    </section>

    <section id="comments">
        <h2>KOMENTARZE:</h2>
           {% if comments %}
                <ul>
                    {% for comment in comments %}
                        <li>
                            <h3>{{ comment.user_name }}</h3><span><p>{{ comment.date|date:"d.m.Y" }}</p></span>
                            <p>{{ comment.text|linebreaks }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Brak komentarzy.</p>
            {% endif %}
    </section>

    <section id="comment_form">
        <h2>DODAJ KOMENTARZ</h2>
        <div class="container">
            <form action="{% url 'post-detail' post.slug %}" method="POST">
                {% csrf_token %}
                {% for form_field in comment_form %}
                    <div class="form-control {% if form_field.errors %}{% endif %}">
                        {{ form_field.label_tag }}
                        {{ form_field }}
                        {{ form_field.errors }}
                    </div>
                {% endfor %}
                <button>Zapisz komentarz</button>
            </form>
        </div>
    </section>

{% endblock %}