@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');
* {
  box-sizing: border-box;
}

html {
    font-family: 'Playfair Display', serif;
}


body {
  margin: 0;
}

#main-navigation {
    width: 100%;
    height: auto;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    background-color: #ffffff ;
    z-index: 1;
}

#main-navigation img{
    position: absolute;
    top: 50%;
    transform:  translate(0, -50%);
    left: 10rem;
    object-fit: cover;
    object-position: top;
    width: 25%;

}

#main-navigation nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-navigation button {
    background-color: white;
    border: none;
    font-family: 'Playfair Display', serif;
}

#main-navigation input[type="checkbox"] {
    display: none;
}

#main-navigation label {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}

#main-navigation button:hover {
    background-color: #FCA311;
    border-radius: 12px;
}

#main-navigation a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    #main-navigation img {
/*        left: 5%;*/
        position: absolute;
        top: 50%;
        transform:  translate(0, -50%);
        left: 10rem;
        object-fit: cover;
        object-position: top;
    }

    #main-navigation nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        padding: 10px;
    }

    #main-navigation input[type="checkbox"]:checked ~ nav {
        display: flex;
    }

    #main-navigation label {
        display: block;
    }

    #main-navigation a {
        display: block;
        margin-bottom: 10px;
    }
}



footer {
    display: flex;
    padding-top: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #14213d;
    color: white;
}

#links a {
    text-decoration: none;
    color: white
}


#contact {
    margin-left: 25%;
    transform:  translate(-30%, 0);
}

#links {
    margin-left: 30%;
    transform:  translate(-30%, 0);
}

footer h3 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}


